* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --cor-destaque: #fcc91c;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-color: #000A;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
}

h1 {
    color: white;
    font-size: 3rem;
    font-weight: normal;
}

main {
    display: flex;
    flex-grow: 1;
}

section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.categorias table {
    border-spacing: 4px;
}

.categorias th {
    background-color: var(--cor-destaque);
    width: 500px;
    height: 50px;
    border-radius: 5px;
    font-size: 1.5rem;
}

.categorias td {
    background-color: var(--cor-destaque);
    width: 250px;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    font-weight: lighter;
}

.calculadora form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.calculadora label {
    color: white;
}

.calculadora .campo {
    display: flex;
    flex-direction: column;
    position: relative;
}

.calculadora .campo.unidade::before {
    display: flex;
    content: attr(data-unidade);
    background-color: var(--cor-destaque);
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50px;
    width: 60px;
    border-radius: 0px 5px 5px 0px;
    justify-content: center;
    align-items: center;
}

.calculadora input {
    border: 2px solid var(--cor-destaque);
    height: 50px;
    border-radius: 5px;
    background-color: #0000;
    color: white;
    padding: 10px;
    outline: none;
}

.calculadora button {
    height: 50px;
    background-color: var(--cor-destaque);
    font-size: 1rem;
    border-radius: 5px;
}

.calculadora #resultado {
    height: 100px;
    background-color: var(--cor-destaque);
    border-radius: 5px;
    padding: 10px;
}

footer {
    text-align: center;
    height: 40px;
}

footer span {
    font-style: italic;
    color: white;
}

@media(max-width: 768px) {
    .categorias {
        display: none;
    }
    h1 {
        font-size: 2rem;
    }
    .calculadora form {
        width: 80%;
    }
}